{% extends 'base.html' %}

{% block title %} Accounts {% endblock title %}

{% block content %}

<main>
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of accounts</th>
            </tr>
        </thead>
        <tbody>
            {% for accounts in account %}
            <tr>
                <td>{{ accounts.name }}</td>
                <td>{{ accounts.number }}</td>
                <td>{{ accounts.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}
