{% extends 'base.html' %}

{% block title %} Expenses {% endblock title %}

{% block content %}

<main>
    <h1>My Expenses</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expenses in categories %}
            <tr>
                <td>{{ expenses.name }}</td>
                <td>{{ expenses.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}
